.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    color: white;
    padding: 10px;
}


.messagesItems {
    color: white;
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

